* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #003087;
  box-sizing: border-box;
  color: white;
}
  
header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  display: flex;
  top: 0;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}
  
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
  
.nav-link {
  margin: 30px;
  padding: 0;
}

#form {
  max-width: 500px;
  display: flex;
  margin: 200px auto 50px auto;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.email-input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 0 auto;
  padding-left: 5px;
  display: block;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  margin: 0 auto;
  padding: 0 20px;
  width: 30%;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

#features {
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.feat-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feat-text {
  margin: 10px 30px 10px 10px;
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.feat-icon {
  width: 300px;
  height: 50%;
  padding: 10px;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}
  
#how-it-works {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
  
.price-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  background-color: white;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

#pricing {
  margin: 30px auto 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.product {
  text-align: center;
}

#digital, #disc {
  max-width: 300px;
  width: 100%;
  margin: 15px;
  border: 2px solid white;
  border-radius: 5px;
}

.price-title {
  background-color: white;
  color: black;
  font-size: 2em;
  width: 100%;
  height: 50px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.list-items li{
  margin: 10px;
}

footer {
  padding: 20px;
  margin-top: 30px;
  text-align: center;
  background-color: white;
  color: #003087;
}

footer ul {
  padding: 0;
}

footer ul li {
  display: inline;
  flex-direction: row;
  margin: 10px;
  margin-bottom: 10px;
}

footer p {
  margin-top: 15px;
  margin-bottom: 20px;
}
  
@media only screen and (max-width: 1000px) {
  header {
    width: 100%;
    flex-direction: column;
  }
  #form {
    width: 100%;
  }
  #features {
    width: 100%;
  }
  #pricing {
    width: 100%;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  header {
    width: 100%;
    flex-direction: column;
  }
  #form {
    width: 100%;
  }
  #features {
    width: 90%;
  }
  #pricing {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* REFERENCES GUIDED FROM W3SCHOOLS, GOOGLE AND YOUTUBE*/ 
